/* breaks */

$padbreak: 600px;
$bigpad: 760px;
$dtbreak: 1000px;
$largerscreen: 1200px;
$maxwidth: 1440px;

/* colours */
$bodybg: white;
$bodytext: #1b2a3d;
$lightertext: #717485;

$keitarogreen: #42a82b;
$natsumiblue: #2286cb;
$hiroorange: #ff9222;
$hunteryellow: #edc92b;
$yoichipurple: #8546be;

/* themes */
.t-yuuto {
  --c-text: #1b2a3d;
  --c-bg: #fff;
  --c-spot: #18c164;
  --c-spotlight: #fdbbe4;
  --c-limelight: #2bb9c0;
  --c-text--reverse: #717485;
  --c-bg--reverse: #f5f5f5;
  --c-spot--reverse: #fff;
  --c-spot--alt: #18c164;
  --c-spot--text: #0fa954;
  //--c-gradient: linear-gradient(90deg, var(--c-spotlight), var(--c-limelight));
  --c-gradient: linear-gradient(
    90deg,
    rgba(253, 187, 228, 1) 15%,
    rgba(43, 185, 192, 1) 100%
  );
}

/* mixins */

@mixin box-sizing($boxsize) {
  -webkit-box-sizing: $boxsize;
  box-sizing: $boxsize;
}

@mixin box-shadow($shadowval) {
  -webkit-box-shadow: $shadowval;
  box-shadow: $shadowval;
}

@mixin flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flexalignitems($alignitems) {
  -webkit-box-align: $alignitems;
  -ms-flex-align: $alignitems;
  align-items: $alignitems;
}

@mixin flexjustifycontent($justifycontent) {
  -webkit-box-pack: $justifycontent;
  -ms-flex-pack: $justifycontent;
  justify-content: $justifycontent;
}

@mixin flex-grow($flexgrow) {
  -webkit-box-flex: $flexgrow;
  -ms-flex-positive: $flexgrow;
  flex-grow: $flexgrow;
}

@mixin flex-wrap($flexwrap) {
  -ms-flex-wrap: $flexwrap;
  flex-wrap: $flexwrap;
}

@mixin flex-basis($flexbasis) {
  -ms-flex-preferred-size: $flexbasis;
  flex-basis: $flexbasis;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  transform: $transform;
}

/* utilities */

.u-of {
  //overflow
  &--h {
    overflow: hidden !important;
  }

  &--a {
    overflow: auto !important;
  }

  &--s {
    overflow: scroll !important;
  }

  &-x {
    &--h {
      overflow-x: hidden !important;
    }

    &--a {
      overflow-x: auto !important;
    }

    &--s {
      overflow-x: scroll !important;
    }
  }

  &-y {
    &--h {
      overflow-y: hidden !important;
    }

    &--a {
      overflow-y: auto !important;
    }

    &--s {
      overflow-y: scroll !important;
    }
  }
}

.u-nowrap {
  white-space: nowrap !important;
}

// dispay types

.u-block {
  display: block;
}

.u-flex {
  @include flexbox;

  //flex
  &-f {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-flex: 1;
  }

  // align items
  &-al {
    &--c {
      @include flexalignitems(center);
    }
  }

  // justify content
  &-jc {
    &--sb {
      @include flexjustifycontent(space-between);
    }

    &--fs {
      justify-content: flex-start;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
    }
  }

  // flex grow
  &-fg {
    &--1 {
      @include flex-grow(1);
    }
  }

  // flex wrap
  &-fw {
    &--w {
      @include flex-wrap(wrap);
    }
  }

  // flex basis
  &-fb {
    &--bigpadf {
      @include flex-basis(100%);

      @media only screen and (min-width: $bigpad) {
        @include flex-basis(50%);
      }

      @media only screen and (min-width: $largerscreen) {
        @include flex-basis(25%);
      }
    }
  }
}

.u-grid {
  display: grid;

  //align items
  &-al {
    &--c {
      align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
    }
  }

  //place items
  &-pl {
    &--cl {
      place-items: center start;
    }
  }
}

.u-igrid {
  display: inline-grid;
}

.u-inline-block {
  display: inline-block;
}

.u-none {
  display: none;
}

// page fitting

.u-fit {
  width: 100%;

  height: 100%;

  &--w {
    width: 100%;
  }

  &--h {
    height: 100%;
  }
}

.u-viewport-fit {
  width: 100vw;

  height: 100vh;

  &--w {
    width: 100vw;
  }

  &--h {
    height: 100vh;
  }
}

// positioning

.u-absolute {
  position: absolute;
}

.u-fixed {
  position: fixed;
}

.u-relative {
  position: relative;
}

.u-pos {
  &-x-center {
    left: 50%;

    @include transform(translateX(-50%));
  }

  &-y-center {
    top: 50%;

    @include transform(translateY(-50%));
  }

  &-center {
    top: 50%;
    left: 50%;

    @include transform(translate(-50%, -50%));
  }

  &-t {
    top: 0;
  }

  &-r {
    right: 0;
  }

  &-b {
    bottom: 0;
  }

  &-l {
    left: 0;
  }

  &-tr {
    top: 0;
    right: 0;
  }

  &-tl {
    top: 0;
    left: 0;
  }

  &-bl {
    bottom: 0;
    left: 0;
  }

  &-br {
    right: 0;
    bottom: 0;
  }
}

.u-float {
  &--r {
    float: right;
  }

  &--l {
    float: left;
  }
}

.u-margin {
  &--c {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

// text align

.u-ta {
  &--r {
    text-align: right;
  }

  &--c {
    text-align: center;
  }

  &--l {
    text-align: left;
  }

  &--j {
    text-align: justify;
  }
}

// paddings and margins

.u-padding-24 {
  padding: 24px !important;

  &--h {
    padding-right: 24px !important;
    padding-left: 24px !important;

    @media only screen and (min-width: $dtbreak) {
      padding-right: 60px !important;
      padding-left: 60px !important;
    }
  }

  &--v {
    padding-top: 24px !important;
    padding-bottom: 24px !important;

    @media only screen and (min-width: $dtbreak) {
      padding-top: 60px !important;
      padding-bottom: 60px !important;
    }
  }

  @media only screen and (min-width: $dtbreak) {
    padding: 60px !important;
  }

  &-90 {
    &--h {
      @extend .u-padding-24--h;

      @media only screen and (min-width: $largerscreen) {
        padding-right: 90px !important;
        padding-left: 90px !important;
      }
    }

    &--v {
      @extend .u-padding-24--v;

      @media only screen and (min-width: $largerscreen) {
        padding-top: 90px !important;
        padding-bottom: 90px !important;
      }
    }

    @extend .u-padding-24;

    @media only screen and (min-width: $largerscreen) {
      padding: 90px !important;
    }
  }
}

.u-padding {
  &-b0 {
    padding-bottom: 0 !important;
  }
}

.u-ps {
  &--30 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.u-mb {
  &--30 {
    margin-bottom: 30px;
  }
}

/* objects */

.o-one {
  &-whole {
    width: 100%;
  }

  &-half {
    width: 50%;
  }

  &-quarter {
    width: 25%;
  }
}

.o-three-quarters {
  width: 75%;
}

// bigpad
.o-bp-one {
  &-whole,
  &-half,
  &-quarter {
    width: 100%;
  }

  @media only screen and (min-width: $bigpad) {
    &-half {
      width: 50%;
    }

    &-quarter {
      width: 25%;
    }
  }
}

// bigpad
.o-bp-three-quarters {
  width: 100%;

  @media only screen and (min-width: $bigpad) {
    width: 75%;
  }
}

.o-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* CODE START */

/* == PRECODE == */

html {
  font-size: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.25;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  color: $bodytext;
  background: $bodybg 0 0;
  direction: ltr;
}

*,
::after,
::before {
  @include box-sizing(border-box);

  border: 0;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.u-wrapper {
  max-width: $maxwidth;
}

/* == TYPOGRAPHY == */
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.111;
}

h2 {
  font-size: 2rem;
  line-height: 1.125;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.166;
}

code {
  font-family: monospace;
  padding: 2px 3px;
  border-radius: 2px;
  background-color: var(--c-bg--reverse);
}

.t-nowrap {
  white-space: nowrap;
}

/* GENERAL */

body {
  overflow-y: auto;
}

::selection {
  background-color: rgba(43, 185, 192, 0.1);
}

#progressbar {
  position: sticky;
  top: 0;
  height: 5px;
  width: 0;
  background: var(--c-gradient);
}

.c-cta,
.c-button {
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.c-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  padding: 8px 16px;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  border: 2px solid $bodytext;
  border-radius: 2px;
  background-color: transparent;

  &:hover {
    background-color: var(--c-limelight);
  }
}

/* == TOP HEADER / NAV == */
.c-gh .header {
  &-content {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;

    @media only screen and (min-width: $bigpad) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &-logo {
    width: 50px;
    height: auto;

    img {
      display: block;
    }
  }

  &-button {
    display: none;

    @media only screen and (min-width: $bigpad) {
      display: block;
    }

    a {
      font-weight: 700;
      padding: 8px 16px;
      -webkit-transition: background-color 0.1s, border-color 0.1s, color 0.1s;
      transition: background-color 0.1s, border-color 0.1s, color 0.1s;
      border: 2px solid $bodytext;
      border-radius: 2px;

      &:hover {
        color: var(--c-limelight);
        border-color: #fff;
        background-color: var(--c-bg--reverse);
      }
    }
  }

  &-nav {
    height: 24px;

    @include flex-grow(2);

    margin-left: 30px;

    ul li {
      display: inline-flex;
    }

    &__list {
      height: 2 * 24px;
      margin-top: 24px;

      &--el {
        align-items: center;
        height: 24px;
        margin-right: 15px;

        &:last-child {
          padding-right: 24px;

          @media only screen and (min-width: $bigpad) {
            display: none;
            padding-right: 0;
          }
        }

        a:hover {
          border-bottom: 4px solid var(--c-spotlight);
        }
      }
    }
  }
}

/* == PAGE SECTIONS == */

.c-breadcrumbs {
  margin-bottom: 2 * 24px;

  li {
    color: $lightertext;

    &:not(:last-of-type):after {
      margin-left: 5px;
      content: "/";
      color: var(--t-spotlight);
    }

    &:last-child {
      color: $bodytext;
    }

    a:hover {
      color: var(--t-spotlight);
      border-bottom: 1px solid var(--t-spotlight);
    }
  }
}

/* == LANDING PAGE SECTIONS == */
.c-landing-sect {
  display: block;
}

.c-landing-sect {
  &__prim {
    text-align: center;

    @media only screen and (min-width: $dtbreak) {
      text-align: left;
    }

    .sect-title {
      margin-bottom: 32px;
    }

    .sect-subtitle {
      font-size: 1.3125rem;
      line-height: 1.143;
      margin-bottom: 32px;
    }
  }
}

/* == HERO == */
.c-hero {
  padding-bottom: 24px;

  &__content {
    padding: 24px;

    @media only screen and (min-width: $dtbreak) {
      padding: 24px 60px;
    }

    @media only screen and (min-width: $largerscreen) {
      padding: 24px 90px;
    }
  }

  &-title {
    font-size: 3rem;
    line-height: 1.083;
    margin-bottom: 48px;
  }

  @media only screen and (min-width: $bigpad) {
    text-align: left;
  }

  @media only screen and (min-width: $dtbreak) {
    padding: 48px 0;
  }

  &-image {
    @media only screen and (min-width: $bigpad) {
      position: absolute;
      right: auto;
      left: 50%;
      width: 50%;
      height: 100%;

      img {
        position: absolute;
        width: auto;
        max-width: none;
        max-height: 100%;
      }
    }
  }
}

/* == ARTICLES == */

.c-article-header,
.c-directory-header {
  margin-bottom: 32px;
  text-align: center;

  @media only screen and (min-width: $padbreak) {
    text-align: left;
  }
}

.artic-title {
  @extend h1;
}

.c-article {
  width: 100%;

  @media only screen and (min-width: $dtbreak) {
    width: calc(100% - 300px);
    padding-right: 24px;
  }

  h3 {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  h4 {
    margin-top: 10px;
  }

  a {
    border-bottom: 1px solid var(--c-spotlight);

    &:hover {
      color: var(--c-spotlight);
    }
  }

  em {
    background-color: rgba(43, 185, 192, 0.1);
  }

  p,
  ul {
    font-family: "Montserrat", "Roboto", sans-serif;
    text-indent: 1.5%;
  }

  ul {
    list-style: square inside;
  }
}

.c-article-nav {
  width: 100%;
  top: 35px;
  position: sticky;

  @media only screen and (min-width: $dtbreak) {
    width: 300px;
  }

  &__title {
    font-size: 1rem;
    line-height: 1.083;
    padding-bottom: 3px;
    border-bottom: 1px solid $bodytext;
  }

  &__list {
    margin-top: 15px;

    > li {
      margin-top: 10px;
      padding-left: 1em;

      &:first-child {
        margin-top: 0;
      }

      &::before {
        position: absolute;

        //@extend .u-pos-y-center;

        left: 0;
        top: 0.5rem;
        width: 4px;
        height: 4px;
        content: "";
        background-color: $bodytext;
      }

      a {
        // check compatibility
        //@include box-shadow(0 -1px var(--c-spotlight) inset);

        &:hover {
          color: var(--c-spotlight);
        }
      }

      ul li {
        padding: 2px 0;
        &::before {
          content: "- ";
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}

/* == PAGES == */
.c-header {
  &__title {
    @extend h1;
  }
}

/* == DIRECTORIES == */

// body[type=directory]

.c-dir {
  &-list.pages {
    .loc {
      margin-right: 5px;

      &:before {
        margin-right: 5px;
        content: "/";
        color: $lightertext;
      }

      &:after {
        margin-left: 5px;
        content: ":";
      }

      &:hover {
        color: var(--t-spotlight);
        border-bottom: 1px solid var(--t-spotlight);
      }
    }
  }
}

body[current-page="kb"] .c-dir-list.pages .loc:before {
  content: "kb /";
}

/* == FAQ PAGE == */
.c-faqpage .c-article {
  p {
    text-indent: 0;
  }

  .faqlist {
    &__el {
      &--q {
        padding: 12px;
        border-left: 4px solid var(--t-spotlight);
        background-color: #d0d0d3;

        @extend h4;

        &:before {
          margin-right: 15px;

          @extend h2;

          content: "Q.";
          color: var(--t-spotlight);
        }

        &:after {
          content: "\276F";
          -webkit-transition: all 0.35s;
          transition: all 0.35s;
          text-align: center;
        }

        &:hover {
          cursor: pointer;
        }

        span {
          @include flex-grow(2);
        }
      }

      &--a {
        max-height: 0;
        border-left: 4px solid #d0d0d3;
        background-color: $bodybg;

        &:before {
          margin-right: 15px;
          content: "A.";
          color: #d0d0d3;

          @extend h2;
        }
      }
    }
  }

  input {
    z-index: -1;
    opacity: 0;

    &:checked {
      + .faqlist__el--q:after {
        @include transform(rotate(90deg));
      }

      ~ .faqlist__el--a {
        max-height: none;
        padding: 12px;
      }
    }
  }
}

/* == ARTICLE pagenav == */
%article-pagenav {
  color: var(--c-text--reverse);

  a {
    @include box-shadow(none);
  }
}

body[current-page="git-tutorial"] .c-article-nav ul > li:first-child {
  @extend %article-pagenav;
}

body[current-page="faq"] .c-article-nav ul > li:nth-child(5) {
  @extend %article-pagenav;
}

/* == EVENTS PAGES SECTIONS == */
.c-eventpage .c-article {
  h3 {
    padding-top: 20px;
    padding-bottom: 4px;
  }

  h5 {
    padding-bottom: 5px;

    &:not(:first-of-type) {
      padding-top: 10px;
    }
  }
}

body[subcategory="events"] {
  .c-breadcrumbs {
    margin-bottom: 0;
  }
}
